
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: white;
    width: 1320px;
    height: 2000px;
    margin: 0px auto;
}

.header {
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
    background-color: black;
    font-size: 20px;
    
}

.sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
    
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.social-links a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-links a:hover {
   
    color: #a68eff;
}


.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #a68eff;
}

.header-box-for-menu {
    display: none;
}

.mawalaka {
    display: flex;
    gap: 15px;
}