
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: white;
    width: 1320px;
    height: 2000px;
    margin: 0px auto;
}

.header {
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: flex-end;
    background-color: black;
    font-size: 20px;
    
}

.sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    z-index: 1000;
    
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.social-links a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-links a:hover {
   
    color: #a68eff;
}


.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #a68eff;
}

.header-box-for-menu {
    display: none;
}

.mawalaka {
    display: flex;
    gap: 15px;
}



.header {
    background-color: black; /* Background color */
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end; /* Align to the right */
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px; /* Add space between links */
}

.header a:hover {
    text-decoration: underline;
}


h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

input[type="checkbox"] {
    cursor: pointer;
}

.edit-icon {
    color: blue;
    margin-right: 10px;
}

.delete-icon {
    color: red;
}

.edit-icon:hover, .delete-icon:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}